*{
    padding: 0%;
    margin: 0%;
    text-align: center;
    color: white;
}
#Title{
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    background-color: blue;
}
#space1{
    height: 25px;
    background-color: white;
}
#Game_1{
    margin: auto;
    width: 700px;
    padding: 25px;
    border: 1px solid black;
    background-color: blue;
}
#Game_2{
    margin: auto;
    width: 700px;
    padding: 25px;
    border: 1px solid black;
    background-color: blue;
}
#Game_3{
    margin: auto;
    width: 700px;
    padding: 25px;
    border: 1px solid black;
    background-color: blue;
}